<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weishop.test">

    <uses-sdk android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".anr.ANRWatchdogTestApplication"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="xpDemo" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".ads.AdsActivity"
            android:label="Demo工程">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userinterface.AppBarChildActivity" />
        <activity android:name=".performance.memory.LeakActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity
            android:name=".activitycharacter.TransparentActivity"
            android:label="B" />
        <activity
            android:name=".activitycharacter.CActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=":com.weishop.test.drink"
            android:theme="@style/AppTheme.ReminderAlert" />
        <activity
            android:name=".activitycharacter.DActivity"
            android:launchMode="standard" />

        <service android:name=".service.LocalService">
            <intent-filter>
                <action android:name="com.weishop.test.action.service" />
            </intent-filter>
        </service>
        <service android:name=".service.MyIntentService" /> <!-- BEGIN_INCLUDE(remote_service_declaration) -->
        <service
            android:name=".service.MessengerService"
            android:process=":remote" />
        <service
            android:name=".service.RemoteService"
            android:process=":remote" />

        <activity
            android:name=".service.RemoteService$Controller"
            android:label="@string/activity_remote_service_controller"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity> <!-- <activity android:name=".service.RemoteService$Binding" -->
        <!-- android:label="@string/activity_remote_service_binding"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.SAMPLE_CODE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".service.RemoteService$BindingOptions"
            android:label="@string/activity_remote_service_binding_options">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".contentprovider.ContactManager" />
        <activity android:name=".contentprovider.ContactAdder" />
        <activity
            android:name=".contentprovider.PickContact"
            android:label="@string/activity_pick_contact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".list.draglistview.ListviewActivity" />
        <activity android:name=".list.recycler.RecyclerViewActivity" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false" />
        <!--
tools:node="merge" 可以解决有冲突的条目
        tools:node="remove" 移除对应的条目，合并过程中如果别的manifest也有也会被移除
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <!-- <meta-data  android:name="com.weishop.test.jetpack.navigation.architecture.initializer.WorkManagerInitializer" -->
            <!-- android:value="androidx.startup" /> -->

            <meta-data
                android:name="com.weishop.test.jetpack.architecture.initializer.XcrashInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.weishop.test.jetpack.architecture.initializer.ArouteInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>