<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weishop.test">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name="com.weishop.test.MyApplication"
        android:debuggable="true"
        android:label="@string/app_name">
        <activity
            android:name=".list.ListTestActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".performance.memory.LeakActivity"></activity>
        <activity
            android:name=".activitycharacter.BActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".activitycharacter.CActivity"
            android:launchMode="standard"></activity>
        <activity
            android:name=".activitycharacter.DActivity"
            android:launchMode="standard"></activity>

        <service android:name="com.weishop.test.service.LocalService">
            <intent-filter>
                <action android:name="com.weishop.test.action.service" />
            </intent-filter>

        </service>

        <service android:name=".service.MyIntentService" />
        <!-- BEGIN_INCLUDE(remote_service_declaration) -->
        <service
            android:name=".service.MessengerService"
            android:process=":remote" />

        <service
            android:name=".service.RemoteService"
            android:process=":remote" />

        <activity
            android:name=".service.RemoteService$Controller"
            android:label="@string/activity_remote_service_controller"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".service.RemoteService$Binding"-->
        <!--android:label="@string/activity_remote_service_binding">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.SAMPLE_CODE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".service.RemoteService$BindingOptions"
            android:label="@string/activity_remote_service_binding_options">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".contentprovider.ContactManager" />
        <activity android:name=".contentprovider.ContactAdder" />

        <activity android:name=".contentprovider.PickContact" android:label="@string/activity_pick_contact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".list.draglistview.ListviewActivity" />
        <activity android:name=".list.recycler.RecyclerViewActivity" />


    </application>

</manifest>
